# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

# Package cache (incluye .Runtime)
Library/PackageCache/

# Configuración local del editor
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db
